AUTH_REDIRECT_URI=
AUTH_COOKIE_SECRET=

AUTH_KEYCLOAK_CLIENT_ID=
AUTH_KEYCLOAK_CLIENT_SECRET=
AUTH_KEYCLOAK_SERVER_METADATA_URL=
AUTH_KEYCLOAK_CLIENT_KWARGS_PROMPT=

BACKEND_HOST=
BACKEND_VERSION=

BACKEND_AUTH_HOST=
BACKEND_AUTH_AUX_HOST=
BACKEND_AUTH_REALM=
BACKEND_AUTH_USERNAME=
BACKEND_AUTH_PASSWORD=
BACKEND_AUTH_CLIENT_ID=
BACKEND_AUTH_CLIENT_SECRET=
