[auth]
redirect_uri = "{app_url}/oauth2callback"
cookie_secret = ""

[auth.keycloak]
# User authorization to use the Frontend APP
client_id = ""
client_secret = ""
server_metadata_url = "{keycloack_host}/realms/{frontend_realm}/.well-known/openid-configuration"
client_kwargs = { prompt = "login" }

[backend]
# LLM Generator API
host = "http://localhost:8000"
version = "vNext"

[backend.auth]
# Frontend App authorization to use the Backend API
host = "{keycloack_host}"
aux_host = "{keycloack_management_host}"
realm = "{backend_realm}"
username = ""
password = ""
client_id = ""
client_secret = ""
